<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        姓名:{{name}}-年龄：{{age}}
        <br> <br>
        朋友信息
        <br>
        <button @click="addSex">添加一个性别属性，默认值是男</button>
        <br> <br>
        姓名：{{friend.name}} - 年龄：{{friend.age}} 
        <div v-if="friend.sex">性别：{{friend.sex}}</div>
        <ul>
            <li v-for="(h, index) in friend.hobby">
                {{h}}
            </li>
        </ul>
    </div>

    <script>
        const vm = new Vue({
            el:'#root',
            data:{
                name:'张三',
                age:12,
                friend:{
                    name:'李四',
                    age:12,
                    hobby:['抽烟', '喝酒', '烫头']
                }
            },
            methods: {
                addSex() {
                    // Vue.set(this.friend, 'sex', '男');
                    vm.$set(this.friend, 'sex', '女');
                }
            },
        });
    </script>
</body>
</html>