a {
    text-decoration: none;
}

li {
    list-style: none;
}

#top {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: rgba(45,51,54,0.9);
}

#body {
    position: relative;
    width: 100%;
    height: 660px;
}


#top a {
    color: white;
}

#top:hover {
    background-color: gray;
}

#top-1 {
    float: left;
}

#top-1>a>#img {
    width: 90px;
    height: 40px;
    margin: 10px 10px 10px 30px;
}

#nav {
    float: left;
}

#nav li {
    float: left;
    width: 100px;
}

#nav li .subnav {
    left: 0px;
    top: 0px;
    width: 120px;
    background: none rgba(44, 44, 44, 0.9);
    padding: 16px 0px;
    display: none;
    margin-top: 22px;
}

#nav li:hover .subnav {
    display: block;
}

#toolBox {
    float: left;
}

#toolBox li {
    float: left;
}

#top #banner {
    height: 660px;
}




.footer {
    padding-top: 100px;
    width: 100%;
    background-color: gray;
}

.footer .footBox {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer .footBox p {
    color: wheat;
}

.footer .footBox a {
    color: wheat;
}

#inp {
    border: 1px solid #cdcdcd;
    width: 200px;
    padding: 6px 2%;
    height: 15px;
    line-height: 25px;
    background-color: white;
    color: #fff;
    font: 12px;
    float: left;
    border-radius: 6px;
}

.footer .mftxt {
    border: 1px solid wheat;
    width: 150px;
    padding: 10px 2%;
    background-color: transparent;
    font: 12px;
    float: left;
    border-radius: 6px;
}

.mfbtn {
    float: left;
    line-height: 35px;
    margin-left: 10px;
    border-radius: 50% 50%;
    border: 1px solid white;
    width: 35px;
    height: 35px;
}

.footer .footBox .fon{
    color: #636363;
    font-size:small;
}

